{
	"root": true,
	"extends": [
		"@calmdownval/eslint-config",
		"@calmdownval/eslint-config/typescript"
	],
	"parserOptions": {
		"project": [
			"./tsconfig.json",
			"./benchmark/tsconfig.json",
			"./test/tsconfig.json"
		]
	},
	"settings": {
		"import/resolver": {
			"@calmdownval/eslint-import-resolver-typescript": {
				"project": [
					"./tsconfig.json",
					"./test/tsconfig.json"
				]
			}
		}
	},
	"ignorePatterns": "rollup.config.js"
}
