{
	"root": true,
	"extends": [
		"@calmdownval/eslint-config",
		"@calmdownval/eslint-config/import",
		"@calmdownval/eslint-config/typescript",
		"@calmdownval/eslint-config/typescript-import"
	],
	"parserOptions": {
		"project": "./packages/*/tsconfig.json"
	},
	"settings": {
		"import/resolver": {
			"@calmdownval/eslint-import-resolver": {
				"project": "./packages/*/tsconfig.json"
			}
		}
	}
}
